In [1]:
import dash, dash_table
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/final_list.csv")
df.head()

,Unnamed: 0,comp_name,description,business_model,customer,keywords,stage,total_funding,num_investors,date_founded,location,employees,website
0,0,Auara,Auara es la primera empresa social española ce...,NaN,NaN,NaN,NaN,NaN,1.0,2015.0,"Comunidad de Madrid, España",NaN,https://auara.org
1,1,Corify Care,Corify Carees una startup médica centrada en l...,NaN,B2B,Biotech,NaN,5.70,1.0,2019.0,"Comunidad de Madrid, España",NaN,https://corify.es
2,2,Fossa Systems,En FOSSA Systems desarrollan plataformas picos...,NaN,NaN,Aeroespacial,NaN,NaN,0.0,2020.0,"Comunidad de Madrid, España",NaN,http://fossa.systems/
3,3,Harbest Market,HarBest Market es la primera plataforma que pe...,NaN,NaN,Agrotech,NaN,1.25,3.0,2020.0,"Comunidad de Madrid, España",NaN,http://www.harbestmarket.com/
4,4,Hamelyn,Hamelyn nace como un re-commerce online de lib...,NaN,NaN,Marketplace,NaN,1.00,3.0,2020.0,"Comunidad de Madrid, España",NaN,https://hamelyn.com/home

In [3]:
df.columns

Index(['Unnamed: 0', 'comp_name', 'description', 'business_model', 'customer',
       'keywords', 'stage', 'total_funding', 'num_investors', 'date_founded',
       'location', 'employees', 'website'],
      dtype='object')

In [4]:
df= df.rename(columns={"Unnamed: 0": "Index", "comp_name": "Company", "description": "Description",
"business_model": "Business Model", "customer": "Target Customer", "keywords": "Keywords",
"stage": "Stage", "total_funding": "Total Funding (in M€)", "num_investors": "Number of Investors",
"date_founded": "Year Founded", "location": "Location", "employees": "Employees", "website": "website"})

In [5]:
df["Year Founded"].fillna("No Information")

0              2015.0
1              2019.0
2              2020.0
3              2020.0
4              2020.0
            ...
2044    Founded: 2015
2045    Founded: 2020
2046    Founded: 2012
2047    Founded: 2014
2048    Founded: 2013
Name: Year Founded, Length: 2049, dtype: object

In [6]:
df["Year Founded"] = df["Year Founded"].fillna("No Information")

In [7]:
df["Year Founded"].unique()

array(['2015.0', '2019.0', '2020.0', '2021.0', '2016.0', '2018.0',
       'No Information', '2012.0', '2008.0', '2017.0', '2014.0', '2009.0',
       '2000.0', '2011.0', '2010.0', 'Founded: 2020', 'Founded: 2019',
       'Founded: 2018', 'Founded: 2017', 'Founded: 2015', 'Founded: 2012',
       'Founded: 2013', 'Founded: 2021', 'Founded: 2014', 'Founded: 2016',
       'Founded:', 'Founded: 2011', 'Founded: 2004', 'Founded: 2022'],
      dtype=object)

In [13]:
dff = df.copy()
dff = dff[dff['Year Founded'].isin(['2008.0'])]
dff

,Index,Company,Description,Business Model,Target Customer,Keywords,Stage,Total Funding (in M€),Number of Investors,Year Founded,Location,Employees,website
14,14,Civitatis,Civitatis es la compañía líder en distribución...,NaN,B2B,"Traveltech,Turismo",NaN,100.0,0.0,2008.0,"Comunidad de Madrid, España",NaN,https://www.civitatis.com/es/
32,32,Civitatis,Civitatis es la compañía líder en distribución...,NaN,B2B,"Traveltech,Turismo",NaN,100.0,0.0,2008.0,"Comunidad de Madrid, España",NaN,https://www.civitatis.com/es/

In [8]:
columns=[{"name": i, "id": i} for i in df.columns]

In [9]:
columns

[{'name': 'Index', 'id': 'Index'},
 {'name': 'Company', 'id': 'Company'},
 {'name': 'Description', 'id': 'Description'},
 {'name': 'Business Model', 'id': 'Business Model'},
 {'name': 'Target Customer', 'id': 'Target Customer'},
 {'name': 'Keywords', 'id': 'Keywords'},
 {'name': 'Stage', 'id': 'Stage'},
 {'name': 'Total Funding (in M€)', 'id': 'Total Funding (in M€)'},
 {'name': 'Number of Investors', 'id': 'Number of Investors'},
 {'name': 'Year Founded', 'id': 'Year Founded'},
 {'name': 'Location', 'id': 'Location'},
 {'name': 'Employees', 'id': 'Employees'},
 {'name': 'website', 'id': 'website'}]

In [10]:
data=df.to_dict('records')

In [12]:
data[0]

{'Index': 0,
 'Company': 'Auara',
 'Description': 'Auara es la primera empresa social española certificada por Social Enterprise Mark. Con el objetivo de revolucionar la cooperación al desarrollo, esta marca de agua mineral invierte el 100% de los dividendos que genera vendiendo sus productos en desarrollar proyectos de acceso a agua potable en países en vía de desarrollo. El proyecto nació con una clara y proactiva vocación social con la que invita a todo el mundo que la consume a convertir un acto cotidiano como beber agua, en un acto extraordinario. Desde su lanzamiento en septiembre de 2016, ya ha dado acceso a agua a más de 57.400 personas y ha generado 72,4 millones de litros de agua potable, habiendo recibido numerosos premios y reconocimientos.',
 'Business Model': nan,
 'Target Customer': nan,
 'Keywords': nan,
 'Stage': nan,
 'Total Funding (in M€)': nan,
 'Number of Investors': 1.0,
 'Year Founded': '2015.0',
 'Location': 'Comunidad de Madrid, España',
 'Employees': nan,
 'website': 'https://auara.org'}

In [15]:
options = [{"label": x, "value": x} for x in df["Year Founded"].unique()]

In [ ]:
### this is how it should work

In [26]:
data_updated = df[df['Year Founded'] == '2015.0']

In [27]:
data_updated

,Index,Company,Description,Business Model,Target Customer,Keywords,Stage,Total Funding (in M€),Number of Investors,Year Founded,Location,Employees,website
0,0,Auara,Auara es la primera empresa social española ce...,NaN,NaN,NaN,NaN,NaN,1.0,2015.0,"Comunidad de Madrid, España",NaN,https://auara.org
22,22,Frenetic,Frenetic es una startup de eletrónica de poten...,NaN,NaN,NaN,NaN,4.85,3.0,2015.0,"Comunidad de Madrid, España",NaN,https://spfrenetic.com/
45,45,Glovo,Glovo es la plataforma tecnológica de referenc...,NaN,B2C,NaN,NaN,898.00,10.0,2015.0,"Cataluña, España",NaN,https://glovoapp.com/
53,53,Glovo,Glovo es la plataforma tecnológica de referenc...,NaN,B2C,NaN,NaN,898.00,10.0,2015.0,"Cataluña, España",NaN,https://glovoapp.com/

In [25]:
data_updated.to_dict('records')

[{'Index': 0,
  'Company': 'Auara',
  'Description': 'Auara es la primera empresa social española certificada por Social Enterprise Mark. Con el objetivo de revolucionar la cooperación al desarrollo, esta marca de agua mineral invierte el 100% de los dividendos que genera vendiendo sus productos en desarrollar proyectos de acceso a agua potable en países en vía de desarrollo. El proyecto nació con una clara y proactiva vocación social con la que invita a todo el mundo que la consume a convertir un acto cotidiano como beber agua, en un acto extraordinario. Desde su lanzamiento en septiembre de 2016, ya ha dado acceso a agua a más de 57.400 personas y ha generado 72,4 millones de litros de agua potable, habiendo recibido numerosos premios y reconocimientos.',
  'Business Model': nan,
  'Target Customer': nan,
  'Keywords': nan,
  'Stage': nan,
  'Total Funding (in M€)': nan,
  'Number of Investors': 1.0,
  'Year Founded': '2015.0',
  'Location': 'Comunidad de Madrid, España',
  'Employees': nan,
  'website': 'https://auara.org'},
 {'Index': 22,
  'Company': 'Frenetic',
  'Description': 'Frenetic es una startup de eletrónica de potencia que ayuda a todo tipo de empresas de electrónica compleja a reducir tiempos y costes en el diseño y fabricación de los componentes magnéticos de sus productos. Esto lo consiguen a través de un software desarrollado por la propia marca basado en inteligencia artificial y "cloud-computing". Este permite a los propios ingenieros de las firmas con las que trabaja diseñar y gestionar la fabricación online en apenas minutos, proceso que sin esta tecnología podría llevar meses, con el consiguiente gasto energético y de materiales debido a las iteraciones necesarias. En sus dos años de vida ya cuenta con más de 70 clientes en todo el mundo, entre ellos firmas como Airbus, Siemens o Texas Instruments, y a llevado sus magnéticos a la carretera, cielo y espacio.',
  'Business Model': nan,
  'Target Customer': nan,
  'Keywords': nan,
  'Stage': nan,
  'Total Funding (in M€)': 4.85,
  'Number of Investors': 3.0,
  'Year Founded': '2015.0',
  'Location': 'Comunidad de Madrid, España',
  'Employees': nan,
  'website': 'https://spfrenetic.com/'},
 {'Index': 45,
  'Company': 'Glovo',
  'Description': 'Glovo es la plataforma tecnológica de referencia en el sector del delivery. Fundada en 2015 y con HQ en Barcelona, actualmente se encuentra en más de 900 ciudades en 24 países. Además de conectar a los usuarios con los mejores restaurantes de su ciudad, incluye el servicio de otras categorías como alimentación, parafarmacia, regalos o envíos exprés. En España, Glovo está disponible en cerca de 400 ciudades.',
  'Business Model': nan,
  'Target Customer': 'B2C',
  'Keywords': nan,
  'Stage': nan,
  'Total Funding (in M€)': 898.0,
  'Number of Investors': 10.0,
  'Year Founded': '2015.0',
  'Location': 'Cataluña, España',
  'Employees': nan,
  'website': 'https://glovoapp.com/'},
 {'Index': 53,
  'Company': 'Glovo',
  'Description': 'Glovo es la plataforma tecnológica de referencia en el sector del delivery. Fundada en 2015 y con HQ en Barcelona, actualmente se encuentra en más de 900 ciudades en 24 países. Además de conectar a los usuarios con los mejores restaurantes de su ciudad, incluye el servicio de otras categorías como alimentación, parafarmacia, regalos o envíos exprés. En España, Glovo está disponible en cerca de 400 ciudades.',
  'Business Model': nan,
  'Target Customer': 'B2C',
  'Keywords': nan,
  'Stage': nan,
  'Total Funding (in M€)': 898.0,
  'Number of Investors': 10.0,
  'Year Founded': '2015.0',
  'Location': 'Cataluña, España',
  'Employees': nan,
  'website': 'https://glovoapp.com/'}]

In [23]:
columns_updated = [{"name": i, "id": i} for i in data_updated.columns]

In [24]:
columns_updated

[{'name': 'Index', 'id': 'Index'},
 {'name': 'Company', 'id': 'Company'},
 {'name': 'Description', 'id': 'Description'},
 {'name': 'Business Model', 'id': 'Business Model'},
 {'name': 'Target Customer', 'id': 'Target Customer'},
 {'name': 'Keywords', 'id': 'Keywords'},
 {'name': 'Stage', 'id': 'Stage'},
 {'name': 'Total Funding (in M€)', 'id': 'Total Funding (in M€)'},
 {'name': 'Number of Investors', 'id': 'Number of Investors'},
 {'name': 'Year Founded', 'id': 'Year Founded'},
 {'name': 'Location', 'id': 'Location'},
 {'name': 'Employees', 'id': 'Employees'},
 {'name': 'website', 'id': 'website'}]

In [13]:
def update_table(cols):
    columns=[{"name": col, "id": col} for col in cols]
    data=df[cols].to_dict('records')
    return columns

In [14]:
update_table(columns)

TypeError: unhashable type: 'dict'

In [10]:
df.columns

Index(['Index', 'Company', 'Description', 'Business Model', 'Target Customer',
       'Keywords', 'Stage', 'Total Funding (in M€)', 'Number of Investors',
       'Year Founded', 'Location', 'Employees', 'website'],
      dtype='object')

In [17]:
for x in df["Year Founded"].unique():
    print(x)

2015.0
2019.0
2020.0
2021.0
2016.0
2018.0
nan
2012.0
2008.0
2017.0
2014.0
2009.0
2000.0
2011.0
2010.0
Founded: 2020
Founded: 2019
Founded: 2018
Founded: 2017
Founded: 2015
Founded: 2012
Founded: 2013
Founded: 2021
Founded: 2014
Founded: 2016
Founded:
Founded: 2011
Founded: 2004
Founded: 2022

In [ ]:
crash_here

In [ ]:
from dash import Dash
import dash, dash_table
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

external_stylesheets = [
    {
        "href": "https://fonts.googleapis.com/css2?"
        "family=Lato:wght@400;700&display=swap",
        "rel": "stylesheet",
    },
]

df = pd.read_csv("data/final_list.csv")


app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div(
    children=[
        html.Img(src=("/assets/Logo.png")),
        html.H1(children="Start Up List",className="header-title",),
        html.P(children="Last scrape was the 12.12.12",className="header-description",),
        
      
        dash_table.DataTable(
            id='table',
            columns=[{"name": i, "id": i} for i in df.columns],
            data=df.to_dict('records'),
            )
        ], className="wrapper",
    )

if __name__ == '__main__':
        app.run_server(debug=True, use_reloader=False)

In [ ]:
break_point

In [ ]:
df = pd.read_csv("data/startup_list.csv")

app = dash.Dash(__name__)

app.layout = html.Div(
    children=[
        html.H1(children="Start Up List",className="header-title",),
        html.P(children="Last scrape was th 12.12.12",),
        
        
        
        dash_table.DataTable(
        id='table',
        columns=[{"name": i, "id": i} for i in df.columns],
        data=df.to_dict('records'),
)])

if __name__ == '__main__':
        app.run_server(debug=True, use_reloader=False)